:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}


.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal)
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispostivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape{
    text-align: center;
    margin-bottom: 8em;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;

}

.lista__link{
    margin-top: 20px;
    margin-right: 10px;
    
       
}

.lista__link a{
    color: var(--branco-principal);
    text-decoration: none;
    
}

.lista__link a:hover{
    color: var(--botao-azul);
}

.lista__link a:active{
    color: purple;
}

.rodape__texto{
    margin: 20px 20px;
    color: var(--cinza-secundario);
    
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

/* 1440px */
@media (max-width: 1440px) {
  .container__caixa {
    margin: 0px 1em;
    width: 500px;
  }

}

/* 1240px */
@media (max-width: 1240px) {
  .container__caixa {   
    width: 400px;
  }
    /* Rodapé */
   .rodape__lista {
    flex-wrap: wrap;   
  }
}

  /* 960px */
@media (max-width: 970px) {
  /* Principal */
  .container__caixa {
    width: 300px;
  }
  .container__titulo {
    font-size: 28px;
  }

  /* Secundário */
  .descricao__titulo {
    font-size: 30px;
  }

  /* Dispositivos */
  .dispositivos__titulo {
    font-size: 40px;
  }

  .dispostivos__lista {
    flex-wrap: wrap;
    margin-bottom: 5em;
  }

  .container__imagem {
    width: 280px;
  }
}

  /* 768px */
@media (max-width: 768px) {
  /* Principal */
  .container__caixa {
    width: 200px;
  }
  .container__imagem {
    width: 200px;
  }

  /* Secundario */
  .secundario {
    margin: 0 1em;
  }
  .container__descricao {
    padding: 0; 
  }
  .container__titulo {
    font-size: 20px;
  }
  
}

  /* 500px */
@media (max-width: 500px) {
   /* Principal */
   .container__caixa {
    width: 150px;
  }
  .container__imagem {
    width: 160px;
  }

  .dispositivos__titulo {
    font-size: 30px;
  }

  .dispostivos__lista>li>img {
    width: 252px;
  }

  /* Rodapé */
  .rodape__lista {
    margin-bottom: 5em;
  }
}

/*400px*/

@media (max-width: 400px) {
   /* Principal */
   .container__caixa {
    width: 115px;
  }
  
  .container__imagem {
    width: 150px;
  }

  .container__botao {
    width: 120px;
  }

  .container__aviso {
    width: 150px;
  }
  
  /* Dispositivos */
  .dispositivos__titulo {
    font-size: 25px;
  }

  .dispostivos__lista>li>img {
    width: 215px;
  }

  .lista__item {
    font-size: 25px;
  }
  
  /* Rodapé */
  .rodape__lista {
    margin-bottom: 5em;
  }
  
}
